@import url('https://fonts.googleapis.com/css?family=Abel|Exo');
/* You must use a DIFFERENT FONT THAT THIS ONE as your webfont */

/*************************************************
            DEFAULTS
*************************************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::after,
*::before{
    box-sizing: inherit;
}
html{
    font-size: 16px;
    font-family: Abel, Exo, 'Trebuchet MS', sans-serif;
    /* change this font stack to your own choices */
    line-height: 1.5;
}
p{
    
}
a{
    
}
ul{
    
}
ol{
    
}
li{
    
}
img{
    width: 25%;
}

/*************************************************
            HEADER
*************************************************/
header{
    padding:1rem 2rem;
    color: black;
    background-image: url("img/img_1500.jpg");
}
header > h1{
    
}
header > h2{
    
}
/*************************************************
            NAVMENU
*************************************************/
nav{
    padding:1rem 2rem;
}
.mainnav{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color: hsl(200,100%,20%);

}
nav > a,
nav > a:visited,
nav > a:link{
    font-variant: small-caps;
    color: hsl(200,100%,100%);
}
nav > a:active,
nav > a:focus,x`
nav > a:hover{
    
}

/*************************************************
            MAIN CONTENT
*************************************************/
main{
    padding:1rem 2rem;
}
main h1, main h2{
    padding: 1rem 0rem;
    border-bottom: 1px dotted black;
}
section{
    
}
section p{
    padding: 0.5rem 0rem;
    
}
section p img{
    
}

/*************************************************
            FOOTER
*************************************************/
footer{
    padding:1rem 2rem;
}
.foot nav{
    
}
.foot section{
    
}
.foot dl{
    
}
.foot dt{
    
}
.foot dd{
    
}
.foot dd a,
.foot dd a:visited{
    
}
.foot dd a:active,
.foot dd a:focus,
.foot dd a:hover{
    
}
/*************************************************
            MEDIA QUERIES for layout
*************************************************/
@media (max-width: 599px){
    
}
@media (min-width: 600px) and (max-width:999px){
    
}
@media (min-width: 1000px){
    
}